<% @contact.comments.each do |comment| %>
  <!--データブランクがあるものは非表示-->
    <% unless comment.content.blank? %>
      <div id="comment-<%= comment.id %>" >
        <table class="table table-bordered" >
          <tr>
            <th width="20%" colspan="2" class="users_th text-center align-middle table-warning <%= "a_color" if comment.user.contractor_name == "管理者" %>"><%= comment.user.contractor_name %></th>
          </tr>
          <tr>
            <th width="20%" class="users_th text-center align-middle">返信日</th>
            <th class="users_th text-center align-middle"><%= comment.created_at.to_s(:datetime_jp) %></th>
          </tr>
          <tr>
            <th width="20%" class="users_th text-center align-middle">内容</th>
            <th class="users_th  align-middle"><%= simple_format(comment.content) %></th>
          </tr>
          <tr>
            <!--ログインユーザー名と返信者が一致する場合に削除を表示-->
            <% if current_user.contractor_name == comment.user.contractor_name %>
              <th colspan="2" class="users_th text-center align-middle"><%= link_to "返信削除", comment, method: :delete, class: 'delete_btn', remote: true %></th>
            <% end %>
          </tr>
        </table>
      </div>
    <% end %>
<% end %>
    
    
    

