<!--do us共通画面につき画面分岐-->
<div class="us_wrapper">
  <div class=<%= "ad_visual" if logged_in? && current_user.admin?  %>
           <%= "us_visual" if logged_in?  %>>
    <div class="us_container">
      <h1>お問い合わせの詳細</h1>
    </div>
  </div>
  <p>お問い合わせおよび返信内容をご確認し、適宜、ご返信ください。</p>
  <div class="row justify-content-md-center ml-5 mr-5 mb-3 mb-3">
  <!--お問い合わせ-->
    <div class="col-md-5">
      <h2 class="comment_h2">お問い合わせ内容</h2>
      <table class="table comment_table">
        <tr>
          
          <th colspan="2" class="text-center align-middle c_font_color table-secondary">
            <div class="cm_header_item">
              お問い合わせID: <%= @contact.id %>
              <div class="cm_icon_item">
                <%= link_to @contact, method: :delete, data: { confirm: "返信内容も全て削除されますがよろしいですか？" } do %>
                  <span id="e_icon" class="font_color_red" ><i class="fas fa-trash-alt"></i></span>
                <% end %>
              </div>
            </div>
          </th>
        
        </tr>
        <tr>
          <th class="text-left align-middle c_font_color">お問い合わせ日</th>
          <th class="text-center align-middle"><%= @contact.created_at.to_s(:datetime_jp) %></th>
        </tr>
        <tr>
          <th class="text-left align-middle c_font_color">送信者</th>
          <th class="text-center align-middle"><%= @contact.user.contractor_name %></t>
        </tr>
        <tr>
          <th class="text-left align-middle c_font_color">お問い合わせ種類</th>
          <th class="text-center align-middle"><%= @contact.type %></t>
        </tr>
        <tr>
          <th class="text-left align-middle c_font_color">件名</th>
          <th class="text-center align-middle"><%= @contact.title %></th>
        </tr>
        <tr>
          <th class="text-left align-middle c_font_color">お問い合わせ内容</th>
          <th class="text-left align-middle"><%= simple_format(@contact.content) %></th>
        </tr>
      </table>
      <!--返信フォーム-->
      <h2 class="comment_h2">返信フォーム</h2>
        <div class="form">
          <%= form_with(model: @comment, id: 'comment_form') do |f| %>
          <%= hidden_field_tag :contact_id, @contact.id  %>
          <p id="error-message" class="error-message none"></p>
          <table class="table table-bordered table-md mt-3 table-success">
            <tr>
              <td><%= f.text_area :content,:size => "60x6", class: 'form-control ajax_text' %></td>
            </tr>
            <tr>
              <td colspan="2" class="text-center align-middle"><%= f.submit '返信', class: 'next_btn' %></td>
            </tr>
          </table>
          <% end %>
        </div>
      </div>
    <!--返信表示-->
    <div class="col-md-5">
      <h2 class="comment_h2" >返信一覧</h2>
      <div id="u_comments">
        <%= render "comments/u_comment" %>
      </div>
    </div>
  </div>
    <div class="main_btn">
     <% if logged_in? && current_user.admin? %>
      <%= link_to "戻る", comments_path,class: "return_btn" %>
     <% else %>
      <%= link_to "戻る", contacts_path,class: "return_btn" %>
     <% end %>
    </div>
</div> 



