<div class="header_admin">
  <h1>お問い合わせの詳細</h1>
</div>
<!--お問い合わせ-->
<div class="main col-xs-12 col-md-8 offset-md-2">
  <div class="claim_table">
    <table class="table table-bordered table-hover">
      <tr>
        <th class="users_th text-center align-middle table-secondary">お問い合わせ日</th>
        <th class="users_th text-center align-middle"><%= @contact.created_at.to_s(:datetime_jp) %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">送信者</th>
        <th class="users_th text-center align-middle"><%= @contact.user.contractor_name %></t>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">お問い合わせ種類</th>
        <th class="users_th text-center align-middle"><%= @contact.type %></t>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">件名</th>
        <th class="users_th text-center align-middle"><%= @contact.title %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">電話番号</th>
        <th class="users_th text-center align-middle"><%= @contact.tel %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">お問い合わせ内容</th>
        <th class="users_th text-left align-middle"><%= simple_format(@contact.content) %></th>
      </tr>
    </table>
  </div>
</div>
<!--返信表示-->
<div class="main col-xs-12 col-md-8 offset-md-2">
  <div id="u_comments">
    <%= render "comments/u_comment" %>
  </div>
</div>
<!--返信フォーム-->
<div id="comment_msg"></div>
<div class="main col-xs-12 col-md-8 offset-md-2">
  <div class="form">
    <%= form_with(model: @comment, id: 'contact_form') do |f| %>
    <%= hidden_field_tag :contact_id, @contact.id  %>
    <p id="error-message" class="error-message none"></p>
      <table class="table table-bordered table-md mt-3 table-success">
        <tr>
          <th width="20%" class="text-center align-middle">返信</th>
          <td><%= f.text_area :content,:size => "60x6", class: 'form-control ajax_text' %></td>
        </tr>
        <tr>
          <td colspan="2" class="text-center align-middle"><%= f.submit '返信', class: 'next_btn' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

<div class="main_btn">
 <% if logged_in? && current_user.admin? %>
  <%= link_to "戻る", comments_path,class: "return_btn" %>
 <% else %>
  <%= link_to "戻る", contacts_path,class: "return_btn" %>
 <% end %>
  <%= link_to "お問い合わせ削除",@contact, method: :delete, data: { confirm: '返信内容も全て削除されますがよろしいですか？' }, class: 'delete_btn' %>
</div>

