<% if @contracts.any? %>
  <% @contracts.each do |contract| %>
    <div class="contract_main" id="contract-<%= contract.id %>">
      <!--フラッシュmsg-->
      <div id="contract_msg"></div>
      <!--契約一覧-->
      <table class="table table-bordered text-center offset-1 col-10 offset-1" id="contract_table">
        <tr>
          <th colspan="2">
            <div class="header_item">
              <div>
                <%= contract.contract_name %>
              </div>
              <div class="icon_item">
                <!--編集アイコン-->
                <!--id="e_contract"でイベント発火-->
                <span data-contract-id=<%= contract.id %> id="e_contract" class="font_color e_icon"><i class="fas fa-edit"></i></span>
                <!--削除アイコン-->
                <%= link_to contract, method: :delete, remote: true do %>
                  <span id="e_icon" class="font_color_red" ><i class="fas fa-trash-alt"></i></span>
                <% end %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <td>契約者名</td>
          <td><%= contract.user.contractor_name %></td>
        </tr>
        <tr>
          <td>保険証書番号</td>
          <td><%= contract.policy_number %></td>
        </tr>
      </table>
      <!--編集フォーム-->
      <div id="contract_e-<%= contract.id %>" class="e_form offset-1 col-10 offset-1">
        <p>契約内容の変更</p>
        <div class="offset-2 col-8 offset-2">
          <%= form_with(model: contract) do |f| %>
          <div class="form-group">
            <%= f.label :contract_name, '-契約名-' %>
            <%= f.text_field :contract_name, class: 'form-control', value: contract.contract_name %>
          </div>
          
          <div class="form-group">
            <%= f.label :policy_number, '-保険証書番号-' %>
            <%= f.number_field :policy_number, class: 'form-control', value: contract.policy_number %>
          </div>
          
          <div class="main_btn">
            <%= f.submit '保存',class: 'next_btn close-e_form' %>
          <% end %>
          </div>
        </div>
      </div>
      
    </div>
  <% end %>
<% else %>
  <p class="contract_nill">ご加入契約の登録がありません。<br>契約の新規登録を行ってください。</p>
<% end %>