<div class="header">
  <h1>ご契約の新規登録確認</h1>
  <p>以下の内容で契約を新規新規登録します。</p>
</div>

<div class="main col-xs-12 col-md-8 offset-md-2">
  
  <%= form_with(model: @contract, local: true) do |f| %>
  <div class="form">
    <div class="form-group">
      <%= f.label :contract_name, '-契約名-' %>
      <%= f.text_field :contract_name, class: 'form-control',:readonly => true %>
    </div>
    
    <div class="form-group">
      <%= f.label :policy_number, '-保険証書番号-' %>
      <%= f.number_field :policy_number, class: 'form-control' ,:readonly => true %>
    </div>
          
  <div class="main_btn">
    <%= f.submit "戻る", name: :back, class: "return_btn" %>
    <%= f.submit '新規登録',class: 'next_btn' %>
    <% end %>  
  </div>

  </div>
</div> 