<div class="header">
  <h1>ご契約の登録内容の変更確認</h1>
  <p>以下の内容で契約登録内容を修正します。</p>
</div>

<div class="main col-xs-12 col-md-8 offset-md-2">
    <%= form_with(model: @contract, local: true) do |f| %>

      <div class="form-group">
        <%= f.label :contract_name, '契約名' %>
        <%= f.text_field :contract_name, class: 'form-control',:readonly => true %>
      </div>

      <div class="form-group">
        <%= f.label :policy_number, '保険証書番号' %>
        <%= f.number_field :policy_number, class: 'form-control' ,:readonly => true %>
      </div>
    <div class="main_btn">
     <%= link_to '戻る',edit_contract_path, class: "return_btn" %>
     <%= f.submit '次へ',class: 'next_btn' %>
     <% end %>
  </div>
</div>
