<div class="contract_wrapper">
  <div class="us_visual" >
    <div class="us_container">
      <h1>ご登録済みの契約一覧</h1>
      <p>ご加入契約を新規で登録する場合は下記の「新規登録」より契約をご登録ください。</p>
    </div>
  </div>
  
  <% if @contracts.any? %>
    <% @contracts.each do |contract| %>
    <div class="contract_main">
      <table class="table table-bordered text-center" id="contract_table">
        <tr>
          <th colspan="2"><%= contract.contract_name %></th>
        </tr>
        <tr>
          <td>契約者名</td>
          <td><%= contract.user.contractor_name %></td>
        </tr>
        <tr>
          <td>保険証書番号</td>
          <td><%= contract.policy_number %></td>
        </tr>
        <tr>
          <td><%= link_to "変更", "/contracts/#{contract.id}/edit",class: "change_btn"  %></td>
          <td><%= link_to "削除","/contracts/delete/confirm/#{contract.id}",class: "delete_btn" %></td>
        </tr>
      </table>
    </div>
    <% end %>
  <% else %>
      <p class="contract_nill">ご加入契約の登録がありません。<br>契約の新規登録を行ってください。</p>
  <% end %>
  
  
  
  <div class="pagination  justify-content-center">
    <%= paginate @contracts %>
  </div>
  
  <div class="main_btn">
    <%= link_to '戻る',root_path ,class: "return_btn" %>
    <%= link_to '新規登録',new_contract_path(current_user.id) ,class: "next_btn" %>
  </div>
  
</div>
