<div class="contract_wrapper">
  <div class="us_visual" >
    <div class="us_container">
      <h1>ご登録済みの契約一覧</h1>
    </div>
  </div>
    <p>ご加入契約を新規で登録する場合は「新規登録」より契約をご登録ください。</p>
  
  <div class="row justify-content-md-center ml-2 mr-2 mb-3">
    <!--新規登録フォーム-->
    <div class="contract_form col-md-3">
      <h2>ご契約の新規登録</h2>
      <div class="offset-1 col-10 offset-1">
        <%= form_with(model: @contract, id: 'form') do |f| %>
        <p id="error-message" class="error-message none"></p>
          <div class="form-group">
            <%= f.label :contract_name, '-契約名-' %>
            <%= f.text_field :contract_name, class: 'form-control ajax_text' %>
          </div>
          <div class="form-group">
            <%= f.label :policy_number, '-保険証書番号-' %>
            <%= f.number_field :policy_number, class: 'form-control ajax_num' %>
          </div>
          <div class="main_btn">
            <%= f.submit '新規登録', class: 'next_btn' %>
          </div>
        <% end %>
      </div>
    </div>
    <!--登録済み契約一覧-->
    <div class="contract_index offset-md-1 col-md-7">
      <h2>ご登録契約一覧</h2>
      <!--ajax-->
      <div id="contract_msg"></div>
      <div id="j_contract">
        <%= render "contracts/contract" %>
      </div>
    <div class="pagination  justify-content-center">
      <%= paginate @contracts %>
    </div>
    </div>
  </div>
  
  <div class="main_btn">
    <%= link_to '戻る',root_path ,class: "return_btn" %>
    <!--<%#= link_to '新規登録',new_contract_path(current_user.id) ,class: "next_btn" %>-->
  </div>
  
</div>
