<div class="contract_wrapper">
  
  <div class="us_visual" >
    <div class="us_container">
      <h1>ご契約の新規登録</h1>
    </div>
  </div>
  
    <p>ご契約の新規登録をします。お手持ちの保険証書をもとに以下をご入力ください。</p>
    
  <div class="contract_form">
    <div class="form">
      <%= form_with(model: @contract, local: true, url: {action: :confirm}) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :contract_name, '-契約名-' %>
        <%= f.text_field :contract_name, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :policy_number, '-保険証書番号-' %>
        <%= f.number_field :policy_number, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="main_btn">
    <%= link_to '戻る',contracts_path(current_user.id),class: "return_btn" %>
    <%= f.submit '次へ', class: 'next_btn' %>
    <% end %>
  </div>
  
</div>


  
   
