<div class="header_admin">
  <h1>請求内容の詳細</h1>
</div>
<div class="main col-xs-12 col-md-8 offset-md-2">
  <div class="claim_table">
    <table class="table table-bordered">
      <tr>
        <th class="users_th text-center align-middle table-secondary">請求No.</th>
        <th class="users_th text-center align-middle"><%= @claim.id %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">請求日</th>
        <th class="users_th text-center align-middle"><%= @claim.created_at.to_s(:datetime_jp) %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">契約者名</th>
        <th class="users_th text-center align-middle"><%= @claim.user.contractor_name %></t>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">患者名</th>
        <th class="users_th text-center align-middle"><%= @claim.patient %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">傷病名</th>
        <th class="users_th text-center align-middle"><%= @claim.illness %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">入院日</th>
        <th class="users_th text-center align-middle"><%= @claim.hospital_stay %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">保険証書番号</th>
        <th class="users_th text-center align-middle"><%= @claim.policy_number %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">振込口座</th>
        <th class="users_th text-center align-middle"><%= @claim.account_number %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">支払通知書送付住所</th>
        <th class="users_th text-center align-middle"><%= @claim.destination %></th>
      </tr>
      <tr>
        <th class="users_th text-center align-middle table-secondary">領収書</th>
        <th class="users_th text-center align-middle"><%= image_tag @claim.receipt_img.to_s, :size =>'280x280' %></th>
      </tr>
    </table>
  </div>
</div>
<div class="main_btn">
  <%= link_to "戻る", claims_list_path,class: "return_btn" %>
  <%= link_to "削除",@claim, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'delete_btn' %>
</div>