<div class="header">
  <h1>請求内容入力</h1>
  <p>患者様（被保険者様）情報等を以下へご入力ください。</p>
</div>

<%= form_with(model: @claim, local: true, url: {action: :confirm}) do |f| %>
<div class="claim_sub col-xs-12 col-md-8 offset-md-2" >
  <div class="claim_card">
    <div class="card">
      <div class="card-header">
        <P>患者様について</p>
      </div>
      <div class="card-body">
        <div class="main col-xs-12 col-md-8 offset-md-2">
          <div class="form">
       
             <% @claim.errors.messages.delete(:receipt_img) %>
             <%= render 'layouts/error_messages', model: f.object %>
              
              <div class="form-group">
                <%= f.label :patient %>
                <%= f.text_field :patient, class: 'form-control'%>
              </div>
        
              <div class="form-group">
                <%= f.label :illness%>
                <%= f.text_field :illness, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :hospital_stay, '入院日' %>
                <%= f.date_select :hospital_stay, "v-model" => "i_date", use_month_numbers: true, start_year: 1990, end_year: Time.now.year, prompt:"--",date_separator:'/' %>
              </div>
          </div>
        </div>
      </div>
     </div>
    </div>
    
  <div class="claim_card">
      <div class="card">
        <div class="card-header">
          <p>ご契約について</p>
        </div>
        <div class="card-body">
          <div class="main col-xs-12 col-md-8 offset-md-2">
            <div class="form">
              
              <div class="form-group">
                <%= f.label :policy_number %>
                <p>※ご契約が未登録の場合、先に契約の登録をお願いします。</p>
                <%= f.collection_select :policy_number,current_user.contracts.all, :policy_number, :policy_number,{include_blank: "選択してください。"}, class: 'form-control' %>
              </div>
        
              <div class="form-group">
                <%= f.label :account_number %>
                <%= f.number_field :account_number, class: 'form-control'%>
              </div>
        
              <div class="row">
                <div class="form-group input-group col-sm-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">〒</span>
                  </div>
                    <input id="zip-code" type="number" class="form-control" placeholder="住所自動検索">
                </div>
                
                <div class="form-group input-group col-sm-8">
                  <div class="input-group-prepend">
                    <span class="input-group-text">住所</span>
                  </div>
                  <%= f.text_field :destination, class: 'form-control place',placeholder: "支払通知書送付先" %>
                </div>
              </div>
              
             </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="main_btn">
  <%= link_to '戻る',"/",class: "return_btn" %>     
  <%= f.submit '次へ', class: 'next_btn' %>
</div>
<% end %>