<div class="header">
  <h1>請求内容の詳細</h1>
</div>

<div class="claim_sub col-xs-12 col-md-8 offset-md-2">
  <div class="claim_table">
    <table class="table table-bordered  table-sm ">
        <tr class="table-primary">
            <th  class="users_th text-center">項目</th>
            <th class="users_th text-center">請求内容</th>
        </tr>
        <tr>
            <th  class="users_th text-center">請求No.</th>
            <th class="users_th text-center"><%= @claim.id %></th>
        </tr>
        <tr>
            <th class="users_th text-center">患者名</th>
            <th class="users_th text-center"><%= @claim.patient %></th>
        </tr>
        <tr>
            <th class="users_th text-center">傷病名</th>
            <th class="users_th text-center"><%= @claim.illness %></th>
        </tr>
        <tr>
            <th class="users_th text-center">入院日</th>
            <th class="users_th text-center"><%= @claim.hospital_stay %></th>
        </tr>
        <tr>
            <th class="users_th text-center">保険証書番号</th>
            <th class="users_th text-center"><%= @claim.policy_number %></th>
        </tr>
        <tr>
            <th class="users_th text-center">支払通知書送付住所</th>
            <th class="users_th text-center"><%= @claim.destination %></th>
        </tr>
    </table>
  </div>
</div>
<div class="main_btn">
  <%= link_to "戻る", user_path(current_user.id),class: "return_btn" %>
</div>