<div class="header_admin">
  <h1>【管理者用】管理者情報の変更</h1>
  <p>管理者情報を変更します。以下を変更ください。</p>
</div>

<div class="main col-xs-12 col-md-8 offset-md-2">
  <div class="form">
   <%= form_with(model: @admin, local: true, url:  { action: :edit_confirm }) do |f| %>
     
     <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :contractor_name, '-担当者名-' %>
        <%= f.text_field :contractor_name, class: 'form-control',placeholder: "担当者名" %>
      </div>

      <div class="form-group">
        <%= f.label :email, '-メール-' %>
        <%= f.email_field :email, class: 'form-control',placeholder: "メール" %>
      </div>

      <div class="form-group">
        <%= f.label :password, '-パスワード-' %>
        <%= f.password_field :password, class: 'form-control',placeholder: "パスワード" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, '-パスワード再確認-' %>
        <%= f.password_field :password_confirmation, class: 'form-control',placeholder: "パスワード再確認" %>
      </div>
      <div class="main_btn">
        <%= link_to '戻る',admin_info_path ,class: "return_btn" %>
        <%= f.submit '次へ', class: 'next_btn' %>
        <% end %>
      </div>
  </div>
</div>
