<div class="us_wrapper">
  <div class="us_visual" >
    <div class="us_container">
      <h1>お気に入り一覧</h1>
    </div>
  </div>
  <div class="fas_text">
    <i class="fas fa-file-signature"></i>
    資料請求、ご相談（無料）は<%= link_to 'お問い合わせ',contacts_path, class: "font_color" %>まで！
  </div>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="offset-2 col-8 offset-2 mt-3 mb-5 like_table">
      <table class="table">
        <tr>
          <th colspan="2" class="text-center like_th" style="color: #000000;"><%= post.title %></th>
        </tr>
        <tr>
          <td width=50% class="text-center align-middle like_td"><%= post.content %></td>
          <td width=50% class="text-center align-middle like_td"><%= attachment_image_tag post, :post_img, :size =>'300x300', class: "like_size" %></td>
        </tr>
        <tr>
          <th colspan="2" class="like_td">
            <div id="likes_buttons_<%= post.id %>" class="text-center">
              <% if current_user.likeing?(post) %>
                <%= form_with(model: current_user.likes.find_by(post_id: post.id), method: :delete) do |f| %>
                  <%= hidden_field_tag :post_id ,post.id %>
                  <%= f.submit 'お気に入りを解除',class: "unlike_btn" %>
                <% end %>
              <% else %>
                <%= form_with(model: current_user.likes.build) do |f| %>
                  <%= hidden_field_tag :post_id, post.id %>
                  <%= f.submit 'お気に入り登録',class: "like_btn" %>
                <% end %>
              <% end %>
            </div>
          </th>
        </tr>
      </table>
    </div>
  <% end %>
  <% else %>
    <p class="contract_nill" style="color: red;">お気に入り登録がありません。</p>
  <% end %>
  <div class="pagination  justify-content-center">
    <%= paginate @posts %> 
  </div>
  <div class="main_btn">
    <%= link_to '戻る',root_path,class: "return_btn" %>
  </div>
</div>
  


     
          

      


