<div class="header">
  <h1>ご契約者様情報の変更</h1>
  <p>契約者のご登録情報を変更します。以下の内容を変更ください。</p>
</div>
<div class="main col-xs-12 col-md-8 offset-md-2">
   <%= form_with(model: @user, local: true, url: { action: :edit_confirm }) do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :contractor_name, '-契約者名-' %>
        <%= f.text_field :contractor_name, class: 'form-control',placeholder: "契約者名" %>
      </div>

      <div class="form-group">
        <%= f.label :email, '-メール-' %>
        <%= f.email_field :email, class: 'form-control',placeholder: "メール" %>
      </div>
      <div class="row">
        <div class="form-group input-group col-sm-4">
          <div class="input-group-prepend">
            <span class="input-group-text">〒</span>
          </div>
            <input id="zip-code" type="number" class="form-control" placeholder="住所自動検索">
        </div>
        
        <div class="form-group input-group col-sm-8">
          <div class="input-group-prepend">
            <span class="input-group-text">住所</span>
          </div>
          <%= f.text_field :address, class: 'form-control place',placeholder: "住所" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, '-パスワード-' %>
        <%= f.password_field :password, class: 'form-control',placeholder: "パスワード" %>
      </div>
      
      <div class="form-group">
        <%= f.label :password_confirmation, '-パスワード再確認-' %>
        <%= f.password_field :password_confirmation, class: 'form-control',placeholder: "パスワード再確認" %>
      </div>
      
      <div class="main_btn">
        <%= link_to '戻る',user_path ,class: "return_btn" %>
        <%= f.submit '次へ', class: 'next_btn' %>
        <% end %>
      </div>
  </div>
