<div class="header">
  <h1>ご契約者情報の変更確認</h1>
  <p>以下の内容でご登録情報の変更を行います。</p>
</div>

<div class="main col-xs-12 col-md-8 offset-md-2">
<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :contractor_name, '-契約者名-' %>
    <%= f.text_field :contractor_name,class: 'form-control',placeholder: "契約者名",:readonly => true %>
  </div>

  <div class="form-group">
    <%= f.label :email, '-メール-' %>
    <%= f.email_field :email, class: 'form-control',placeholder: "メール",:readonly => true %>
  </div>
  
  <div class="form-group">
    <%= f.label :address, '-住所-' %>
    <%= f.text_field :address, class: 'form-control',placeholder: "住所",:readonly => true %>
  </div>

  <div class="form-group">
    <%= f.label :password, '-パスワード-' %>
    <%= f.text_field :password, class: 'form-control',placeholder: "パスワード",:readonly => true %>
  </div>
  <div class="main_btn">
    <%= link_to '戻る',edit_user_path, class: "return_btn" %>
    <%= f.submit '変更する',class: 'next_btn' %>
    <% end %>
  </div>
 </div>