<!--do us共通画面につき画面分岐-->
<div class="us_wrapper">
  <div class= <%= "ad_visual" if logged_in? && current_user.admin?  %>
              <%= "us_visual" if logged_in?  %>>
    <div class="us_container">
      <h1>契約者情報</h1>
    </div>
  </div>
    <table class="table text-center offset-3 col-6 mt-5" id="user_table" style="background-color: white;">
      <tr id="user_table_tr">
        <th colspan="2">
          <div class="header_item">
            <div style="color: #000000;" >
              <%= @user.contractor_name %>
            </div>
            <div class="icon_item">
              <!--編集アイコン-->
              <!--id="e_user"でイベント発火-->
              <span id="e_user" class="font_color e_icon"><i class="fas fa-edit"></i></span>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th width="30%" style="color: #000000;">メールアドレス</th>
        <th><%= @user.email %></th>
      </tr>
      <tr>
        <th style="color: #000000;">住所</th>
        <th><%= @user.address %></th>
      </tr>
      <tr>
        <th colspan="2"><%= link_to '退会',"/users/delete/confirm/current_user.id",class: "delete_btn" %></th>
      </tr>
    </table>
    <!--編集フォーム-->
    <div id="e_us_form" class="e_us_form offset-3 col-6 mt-5">
      <p style="color: #000000;">契約内容の変更</p>
      <div class="offset-2 col-8 offset-2">
        <%= form_with(model: @user) do |f| %>
        
          <div class="form-group">
            <%= f.label :contractor_name, '-契約者名-' %>
            <%= f.text_field :contractor_name, class: 'form-control', value: @user.contractor_name %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, '-メール-' %>
            <%= f.email_field :email, class: 'form-control', value: @user.email %>
          </div>
          <%= f.label :contractor_name, '-住所-' %>
          <div class="row">
            <div class="form-group input-group col-sm-4">
              <div class="input-group-prepend">
                <span class="input-group-text">〒</span>
              </div>
                <input id="zip-code" type="number" class="form-control", placeholder="自動検索">
            </div>
            <div class="form-group input-group col-sm-8">
              <div class="input-group-prepend">
                <span class="input-group-text">住所</span>
              </div>
              <%= f.text_field :address, class: 'form-control place', value: @user.address %>
            </div>
          </div>
    
          <div class="form-group">
            <%= f.label :password, '-パスワード-' %>
            <%= f.password_field :password, class: 'form-control', value: @user.password %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation, '-パスワード再確認-' %>
            <%= f.password_field :password_confirmation, class: 'form-control'%>
          </div>
        
        <div class="main_btn">
          <%= f.submit '保存',class: 'next_btn close-e_form' %>
        <% end %>
        </div>
        
      </div>
    </div>

  </div>
</div>





