<!--ad us共通画面につき画面分岐-->
<div class="us_wrapper">
  <div class= <%= "ad_visual" if logged_in? && current_user.admin?  %>
              <%= "us_visual" if logged_in?  %>>
    <div class="us_container">
      <h1>契約者情報</h1>
    </div>
  </div>
  <!--ajax-->
  <div id="j_user">
    <%= render "users/edit" %>
  </div>
    <!--編集フォーム-->
    <div id="e_us_form" class="e_us_form offset-3 col-6 offset-3">
      <% if current_user.email == "guest@example.com" %>
        <p style="color: red; font-size: 18px;">ゲストユーザーは契約者情報の編集・退会が出来ません</p>
      <% elsif current_user.email == "admin@admin.com" %>
        <p style="color: red; font-size: 18px;">管理者は契約者情報の編集・退会が出来ません</p>
      <% elsif %>
      <p style="color: #000000;">契約内容の変更</p>
      <!--フラッシュ、バリデーションmsg-->
      <p id="edit_msg" style="padding-top: 0px; margin-bottom: 0px;"></p>
      <div class="offset-1 col-10 offset-1">
        <%= form_with(model: @user) do |f| %>
          <div class="form-group">
            <%= f.label :contractor_name, '契約者名' %>
            <%= f.text_field :contractor_name, class: 'form-control', value: @user.contractor_name %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'メール' %>
            <%= f.email_field :email, class: 'form-control', value: @user.email %>
          </div>
          <%= f.label :contractor_name, '住所' %>
          <h6 style="color:red; font-size:13px;">※住所検索は半角数字、ハイフンなしでご入力ください。</h6>
          <div class="row">
            <div class="form-group input-group col-sm-4">
              <div class="input-group-prepend">
                <span class="input-group-text">〒</span>
              </div>
                <input id="zip-code" type="number" class="form-control", placeholder="自動検索">
            </div>
            <div class="form-group input-group col-sm-8">
              <div class="input-group-prepend">
                <span class="input-group-text">住所</span>
              </div>
              <%= f.text_field :address, class: 'form-control place', value: @user.address %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control', value: @user.password %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード再確認' %>
            <%= f.password_field :password_confirmation, class: 'form-control'%>
          </div>
        <div class="main_btn">
          <%= f.submit '保存',class: 'next_btn close-e_form' %>
        <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>





