<div class="us_wrapper">
  <div class="us_visual" >
    <div class="us_container">
      <h1>お問い合わせフォーム</h1>
    </div>
  </div>
    <p>「お問い合わせフォーム」よりご質問ください。返信は「お問い合わせ一覧」よりご覧いただけます。</p>
  <div class="row justify-content-md-center ml-2 mr-2 mb-3">
    <!--お問い合わせフォーム-->
    <div class="contact_form col-md-6">
      <h2>お問い合わせフォーム</h2>
      <!--ajax-->
      <div id="j_contact">
        <%= render "contacts/complete" %>
      </div>
      <!--送信後非表示-->
      <div id="ajax_contact_table">
        <%= form_with(model: @contact, id: 'contact_form') do |f| %>
        <p id="error-message" class="error-message none"></p>
        <%= render 'layouts/error_messages', model: f.object %>
          <table class="table offset-1 col-10 offset-1">
            <tr>
              <td style="width:30%;" class="text-left align-middle t_font_color">お問い合わせ種類</td>
              <td>
              <div class="form-check">
                <label><%= f.radio_button :type, "資料請求について",checked: true %>&emsp;資料請求について</label>
              </div>
              <div class="form-check">
                <label><%= f.radio_button :type, "マイページの利用について" %>&emsp;マイページの利用について</label>
              </div>
              <div class="form-check">
                <label><%= f.radio_button :type, "その他" %>&emsp;その他</label>
              </div>
              </td>
            </tr>
            <tr>
              <td class="text-left align-middle t_font_color">件名</td>
              <td>
                <%= f.text_field :title, class: 'form-control ajax_text1' %>
              </td>
            </tr>
            <tr>
              <td class="text-left align-middle t_font_color">電話番号</td>
              <td>
                <%= f.number_field :tel, class: 'form-control ajax_num' %>
              </td>
            </tr>
            <tr>
              <td class="text-left align-middle t_font_color">お問い合わせ内容</td>
              <td>
                <%= f.text_area :content,:size => "60x10", class: 'form-control ajax_text2' %>
              </td>
            </tr>
            <tr>
              <td colspan="2" class="main_btn">
                <%= f.submit '送信', class: 'next_btn' %>
                <% end %>
              </td>
            </tr>
          </table>
      </div>
    </div>
    <!--お問い合わせ一覧-->
    <div class="contact_form col-md-5 contact_table">
      <h2>お問い合わせ一覧</h2>
      <div id="ji_contact">
        <%= render "contacts/contact" %>
      </div>
    </div>
  </div>
  <div class="main_btn">
    <%= link_to '戻る',"/",class: "return_btn" %>
  </div>
</div>
 