<!--機能説明-->
<div class="message-wrapper animated">
  <div class="message_container">
    <div class="heading">
      <h2>管理者画面でできること</h2>
    </div>
    <div class="row">
 <!--各機能説明     -->
      <div class="col-md-4">
        <div class="message">
          <div class="fas_text">
            <i class="fas fa-ad fa-4x fa_ad_color"></i>
          </div>
          <h2>保険商品PR記事の投稿</h2>
          <div class="output1 txt-contents">
            <p>保険商品のPR記事を投稿することができます。投稿した記事はトップページに表示されます。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="message">
          <div class="fas_text">
           <i class="fas fa-file-csv fa-4x fa_ad_color"></i>
          </div>
          <h2>CSV出力</h2>
          <div class="output2 txt-contents">
            <p>ご契約者からの給付金請求を確認することでき、請求データのCSV出力を行うことができます。</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="message">
          <div class="fas_text">
            <i class="fas fa-check-circle fa-4x fa_ad_color"></i>
          </div>
          <h2>各種お問い合わせ対応</h2>
          <div class="output3 txt-contents">
            <p>ご契約者からの資料請求やお問い合わせへ、非同期通信にて返信を繰り返し行うことができます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--商品紹介-->
<div class="likes-wrapper animated">
  <div class="heading">
    <h2>投稿した記事</h2>
  </div>
  <div class="likes">
    <% @posts.each do |post| %>
      <%= link_to(toppage_path(post.id)) do %>
        <ul>
          <table class="table_toppage table-bordered">
            <tr>
               <th class="text-center"><%= post.title %></th>
            </tr>
            <tr>
               <th class="text-center"><%= attachment_image_tag post, :post_img, :size =>'250x250', :style => "border-radius: 30%" %></th>
            </tr>
            <tr>
               <% if current_user.present? %>
               <th class="text-center"><%= link_to "詳細/お気に入り登録", toppage_path(post.id), class: "font_color" %></th>
               <% else %>
               <th class="text-center"><%= link_to "詳細", toppage_path(post.id), class: "font_color" %></th>
               <% end %>
            </tr>
          </table>
        </ul>
        <% end %>
    　<% end %>
  </div>
</div>