<!--画像分岐-->
<div class=<%= "a_main_visual" if logged_in? && current_user.admin?  %>
           <%= "u_main_visual" if logged_in?  %>
           <%= "main_visual" unless logged_in?  %>>
  <div class="main_container">
    <% unless logged_in? %>
      <h1>筋肉生命の<br>ご契約者専用アプリへようこそ！</h1>
    <% else %>
      <h1>ようこそ<br><%= current_user.contractor_name %>さん！</h1>
    <% end %>
  </div>
<!--IDはページ内偏移用-->
  <div class="btn_wrapper" id="link1">
    <div class="col-xs-12 col-md-8 offset-md-2">
      <div class="main_btn">
        <% unless logged_in? %>
            <div class="sinup_btn guest_show">ゲストログイン</div>
            <div class="sinup_btn login_show">ユーザーログイン</div>
            <div class="sinup_btn admin_login_show">管理者ログイン</div>
            <%= link_to '新規登録', signup_path,class: "sinup_btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!--モーダル-->
<%= render "login_modal" %>
<%= render "guest_modal" %>
<%= render "admin_login_modal" %>
<!--hover message-->
<% if logged_in? && current_user.admin? %>
  <%= render "admin_message" %>
<% else %>
  <%= render "user_message" %>
<% end %>

