<div class="header">
  <h1>商品の詳細</h1>
</div>
<div class="col-xs-12 col-md-8 offset-md-2">
    <div class="like_title"><%= @post.title %></div>
        <table class="table table-bordered table-sm table-success ">
          <tr>
            <div class="row">
              <th  class="text-center align-middle"><%= @post.content %></th>
              <td class="text-center align-middle"><%= attachment_image_tag @post, :post_img, :size =>'300x300' %></td>
            </div>
          </tr>
        </table>
    </div>
</div>
<div id="like_msg"></div>
<!--資料請求案内。ログインしていればお問い合わせ、そうでなければ電話番号案内-->
<% if current_user.present? %>
  <div class="fas_text">
    <i class="fas fa-file-signature"></i>
    資料請求、ご相談（無料）は<%= link_to 'お問い合わせ',contacts_path, class: "font_color" %>まで！
  </div>
<% else %>
  <div class="fas_text">
    <i class="fas fa-phone"></i>
    資料請求、ご相談（無料）はxxx-xxx-xxxまで！
  </div>
<% end %>
<div class="main_btn">
  <!--ログインしていなければ「戻る」ボタンのみ表示  -->
  <% if current_user.present? %>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <%= link_to '戻る',root_path,class: "return_btn" %>
    </div>
    <div id="likes_buttons_<%= @post.id %>" class="col-md-3">
      <%= render "likes/toppage_like", locals: { post: @post} %>
    </div>
  </div>
  <% else %>
    <div class="top_show_btn">
     <%= link_to '戻る',root_path,class: "return_btn" %>
    </div>
  <% end %>
</div>