<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post_main" id="post-<%= post.id %>">
    <!--概要-->
      <div class="card border-dark mt-4 mb-2">
        <div class="card-header header_item" style="color: #000000;">
          <div>
            <%= post.title %>
          </div>
          <div class="icon_item mr-2">
            <!--編集アイコン-->
            <!--id="e_contract"でイベント発火-->
            <span data-post-id=<%= post.id %> id="e_post" class="font_color e_icon" style="color: green;" ><i class="fas fa-info-circle"></i></span>
            <!--削除アイコン-->
            <%= link_to post, method: :delete, data: { confirm: "削除しますか？" }, remote: true do %>
              <span id="e_icon" class="font_color_red" ><i class="fas fa-trash-alt"></i></span>
            <% end %>
          </div>
        </div>
        <div class="card-body text-center">
          投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
        </div>
      </div>
      <!--詳細-->
      <div id="post_e-<%= post.id %>" style="display: none;">
        <table class="table">
          <tr>
            <td class="text-center align-middle table-secondary" style="width:auto">投稿者</td>
            <td class="text-center align-middle td_color"><%= post.user.contractor_name %></td>
          </tr>
          <tr>
            <td class="text-center align-middle table-secondary">投稿内容</td>
            <td class="text-center align-middle td_color"><%= safe_join(post.content.split("\n"),tag(:br)) %></td>
          </tr>
          <tr>
            <td class="text-center align-middle table-secondary">画像</td>
            <td class="text-center align-middle td_color"><%= attachment_image_tag post, :post_img, :size =>'350x300' %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
  <div class="pagination  justify-content-center">
    <%= paginate @posts %> 
  </div>
<% else %>
  <p class="data_nill">投稿はありません。</p>
<% end %>