<div class="ad_wrapper">
  <div class="ad_visual" >
    <div class="ad_container">
      <h1>商品PR</h1>
    </div>
  </div>
    <div class="mb-5"><p>商品PR、投稿済みの商品PR記事は以下より投稿・確認いただけます。</p></div>
  <div class="row justify-content-md-center ml-5 mr-5 mb-3 mb-3">
    <!--新規投稿フォーム-->
    <div class="col-md-6 mb-5">
      <h2 class="text-center" style="color: #000000; font-size: 22px;">新規投稿フォーム</h2>
      <!--完了画面-->
      <div id="j_post">
        <%= render "posts/complete" %>
      </div>
      <div class="post_form">
        <div>
          <%= form_with(model: @post, data: { confirm: "投稿しますか？" }) do |f| %>
            <!--フラッシュ、バリデーションmsg-->
            <p id="new_msg" style="padding-top: 0px; margin-bottom: 0px; font-size: 18px;"></p>
            <div class="form-group">
              <%= f.label :title, 'タイトル' %>
              <%= f.text_field :title, class: 'form-control p_ajax_text1' %>
            </div>
            <div class="form-group">
              <%= f.label :content, '投稿内容' %>
              <h6 style="color:red; font-size:13px;">※半角英数字、10桁以内でご登録ください。</h6>
              <div class="count_area"><span class="now_count">0</span> / 255</div>
              <%= f.text_area :content, :size => "50x5", class: 'form-control p_ajax_text2', id: 't_count' %>
            </div>
            <div class="form-group">
              <%= f.label :post_img, '画像' %>
              <%= f.file_field :post_img, id: "myfile", class: 'p_ajax_text3' %>
              <img v-show id="pImg" />
            </div>
            <div class="main_btn">
              <%= f.submit '新規投稿', class: 'next_btn mt-2' %>
            </div>     
          <% end %>
        </div>
      </div>
    </div>
    <!--投稿一覧-->
    <div class="col-md-6">
      <h2 class="text-center mb-3" style="color: #000000; font-size: 22px;">投稿一覧</h2>
      <!--フラッシュmsg-->
      <p id="post_msg" style="padding-top: 0px; margin-bottom: 0px; font-size: 18px;"></p>
      <div id="ji_post">
        <%= render "posts/post" %>
      </div>
    </div>
  </div>
    <!--戻る-->
  <div class="main_btn">
    <%= link_to '戻る',"/",class: "return_btn" %>
  </div>
</div>