<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Insurance</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Abel&family=Kosugi+Maru&display=swap');
    </style>

  </head>
<body>
  
<div class="loading">
	<div class="animation">少々お待ちください...</div>
</div>

  <header>
    <div class="nav_wrapper">
      <%= render 'layouts/navbar' %>
    </div>
  </header>
  <div class="wrapper">
    <div class="flash_msg">
      <%= render 'layouts/flash_messages' %>
    </div>
    <div class="top_btn">
      <i class="fas fa-arrow-circle-up fa-3x fa_color"></i>
    </div>
    <%= yield %>
  </div>
  <footer>
    <small>&copy; 2021 WE ARE MUSCLE.</small>
  </footer>


</body>

</html>


